
body {
  min-height: 100vh;
  margin: 0 20px;
}

header {
  min-height: 50px;
  padding-bottom: 10px;
}

footer {
  min-height: 50px;
  display:flex;
  justify-content: center;
}

footer span{
	align-content: center;
	padding-right:10px;
}

/* The article fills all the space between header & footer */

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display:flex;
}

h1 span{
	padding-top:10px;
	font-size: medium;
	display:block;
}


figure{
	cursor:pointer;
	padding-right:20px;
}

figure:hover {
  opacity: 50%;
}

figcaption{
	text-align: center;
	padding-bottom:15px;
}

figure a{
	text-decoration: none;
	color:black!important;
}

a {
	color: turquoise;
}

a:hover{
	color:lightskyblue;
}

a:visited{
	color: turquoise;
}


.colorOptions {
    display:inline-block;
    overflow:hidden;

}

.colorOptions>img {
    height: 35px;
    cursor:pointer;
}

img.selected {
  border: 1px solid #000;
  border-radius: 4px;
}

.selectedName{
	font-weight:bold;
}

#colors{
	width:50%;
}
#mockup{
	width:50%;
	text-align:center;
}
svg{
	margin-top:10%;
}

@media screen and (max-width: 805px) {
	main{
		flex-direction:column;
	}

	#colors{
		width:100%;
	}
	#mockup{
		width:100%;
		text-align:center;
	}

	svg{
		margin-top:20px;
	}

}
